#board {
    display: inline;
    padding-top: 3em;
    text-align: center;
    font-family: monospace;
}
button {
    justify-content: center;
    font-family: monospace;
    font-size: large;
    background-color: lightseagreen;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-family: monospace;
    color: lightseagreen;
}
div.row > div {
    float: left;
    height: 100px;
    width: 100px;
    cursor: pointer;
    line-height: 100px;
    font-size: 75px;
    text-align: center;
}

.row {
    display: table;
    clear: right;
    margin: 0 auto;
    width: 302px;
}

.top {
    border-bottom: 1px olivedrab solid;
}

.bottom {
    border-top: 1px olivedrab solid;
}

.left {
    border-right: 1px lightseagreen solid;
}

.right {
    border-left: 1px lightseagreen solid;
} 
h2 {
    text-align: center;
    color: lightseagreen;
}
